// launch.config args

// logger file name
logger_file_name=KO_dog

// logger directory
logger_path=log

// MM_LOG_UNKNOW   = 0,
// MM_LOG_FATAL    = 1,
// MM_LOG_CRIT     = 2,
// MM_LOG_ERROR    = 3,
// MM_LOG_ALERT    = 4,
// MM_LOG_WARNING  = 5,
// MM_LOG_NOTICE   = 6,
// MM_LOG_INFO     = 7,
// MM_LOG_TRACE    = 8,
// MM_LOG_DEBUG    = 9,
// MM_LOG_VERBOSE  =10,
logger_level=7
logger_is_console=1
logger_is_immediately=1

// root_resources_type file_assets_type_folder = 0,
//                     file_assets_type_source = 1,
root_resources_type=0
root_resources_name=assets
root_resources_path=../../../../resources/
root_resources_base=assets
shader_cache_folder=../../shader_cache

// plugin and dynlib folder
plugin_folder=plugins/
dynlib_folder=

// surface view zoom.
frame_zoom_factor=0.6

// surface view size.the real view size not logic view size.
window_size_w=1920
window_size_h=1080

// canvas_size_w frame size.the logic view size not real view size.
canvas_size_w=1920
canvas_size_h=1080

// logical interval default is 30.0
logical_frequency=30.0
// display interval default is 60.0
display_frequency=60.0

// "Direct3D9 Rendering Subsystem"
// "Direct3D11 Rendering Subsystem"
// "OpenGL Rendering Subsystem"
// "OpenGL 3+ Rendering Subsystem"
// "OpenGL ES 2.x Rendering Subsystem"
render_system_name=OpenGL ES 2.x Rendering Subsystem

// render window name.
render_window_name=KO_dog