*.sdf
*.opensdf
*.DS_Store
*.v11.suo
*.suo
*.vcxproj.user
*.tags
*.tags_sorted_by_file
*~

.vs/

bin/
obj/
gen/
libs/
log/

protobuf/src/protodef/
Client/proj/android/assets/

Client/proj/windows/shader_cache/*.glsles

Serve/basic_frame/tools/*/*.exe
Serve/business/tools/*/*.exe
Client/tools/*/*.exe
